################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Taskmanager/.vs/Taskmanager/FileContentIndex/cf7256f3-9c0b-4c28-9e64-bcb429bea3a9.vsidx
/Taskmanager/.vs/Taskmanager/FileContentIndex/e0cbcb8e-1e62-4895-93db-cdbeaa0f0e45.vsidx
